body {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;

}
.header{
  display: flex;
  flex-direction: row;
  height: 68px;
  gap: 210px;
  justify-content: center;
  margin-top: 73px;

}
.header2{
  display: flex;
  flex-direction: row;
  height: 68px;
  gap: 40px;
  align-items: center;

}
.header1{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 220px;
  gap: 10px;
}
.headimg{
  height: 36px;
  width: 36px;

}
.headerbut{
  border: 1.5px solid ;
  border-radius: 14px;
  width: 231px;

}
.headera{
  text-decoration: none;
  color: black;
  font-size: 20px;

}
.info1{
  width: 531px;
  height: 481;
}
.info{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.infoh1{
  font-size: 60px;
}
.infop{
  font-size: 20px;
}
.infobut{
  border: 1.5px solid ;
  border-radius: 14px;
  width: 264px;
  height: 68px;
  background-color: black;
  color: white;
  font-size: 20px;

}
.companilogo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 95px;
  flex-wrap: wrap;
}
.servicesinfo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  align-items: center;
}
.servicesinfo2{
  width: 560px;
  
}
.servicesinfo1{
  border: 0px solid;
  border-radius: 14px;
  background-color: #B9FF66;
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}
.windows{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 310px;
  background-color: #F3F3F3;
  border-radius: 50px;
  gap: 70px;
  box-shadow: 0px 5px 0px 0px black;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
.windows-left{
  width: 220px;
  height: 210px;
  display: flex;
  flex-direction: column;

}
.windows-left2{
  display: flex;
  flex-direction: row;
  width: 165px;
  height: 40px;
  align-items: center;
  gap: 15px;
  margin-top: 90px;

}
.windows-leftp{
  font-size: 20px;
}
.windows-left1{
  width: 220px;
  height: 75px;
  
}
.windows-lefth3{
  font-size: 25px;
}
.windows-1up{
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
.windows2{
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 310px;
  background-color: #B9FF66;
  border-radius: 50px;
  gap: 70px;
  box-shadow: 0px 5px 0px 0px black;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
.windows-2up{
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
.windows3{
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 310px;
  background-color: #191A23;
  border-radius: 50px;
  gap: 70px;
  box-shadow: 0px 5px 0px 0px black;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
.windows-leftp3{
  font-size: 20px;
  color: white;
}
.windows-lefth3-3{
    font-size: 25px;
    color: white;
    
}
.windows-lefth3-4{
      font-size: 25px;
  flex-wrap: wrap;
}
.windows-left1-4{
    height: 75px;
    width: 100px;
}
.windows4{
      display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 310px;
  background-color: #F3F3F3;
  border-radius: 50px;
  gap: 70px;
  box-shadow: 0px 5px 0px 0px black;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
.windows5{
      display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 310px;
  background-color: #B9FF66;
  border-radius: 50px;
  gap: 70px;
  box-shadow: 0px 5px 0px 0px black;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
.windows-main{
  width: 1440px;
  height: 1010px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 84px;

}
.under-window{
  display: flex;
  flex-direction: row;
  width: 1240px;
  height: 350px;
  gap: 190PX;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
  border-radius: 50px;
}
.under-window-left{
  width: 500px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 26px;
}
.under-windowH2{
  font-size: 35px;
}
.under-windowH4{
  font-size: 20px;
}
.under-windowH3{
  font-size: 22px;
}
.under-window3{
  background-color: #191A23;
  color: white;
  width: 290px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.Case-Studies{
 background-color: #191A23;
 display: flex;
 flex-direction: row;
 width: 1235px;
 height: 330px;
 justify-content: center;
 align-items: center;
 gap: 65px;
 border-radius: 50px;
}
.Case-StudiesP{
  color: white;
}
.Case-StudiesH4{
  color: #B9FF66;
}
.Case-Studies1{
  display: flex;
  flex-direction: row;
  width: 140px;
  height: 30px;
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 15px;
}
.Case-Studies-smal{
  width: 290px;
  height: 165px;
  line-height: 20px;
}
.servicesinfo3{
    border: 0px solid;
  border-radius: 14px;
  background-color: #B9FF66;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Working-Process1-up{
  display: flex;
  flex-direction: row;
  width: 1100px;
  height: 80px;
 gap: 25px;

 align-items: center;
}
.Working-Process1{
  width: 1235px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #B9FF66;
  border-radius: 50px;
  line-height: 30px;
  box-shadow: 0px 5px 0px 0px black;
}
.Working-Process1-um{
  display: flex;
  flex-direction: row;
  width: 1120px;
  height: 80px;
  align-items: center;
}
.Working-Process1-upH1{
  font-size: 60px;
}
.Working-Process1-upIMG{
  height: 58px;
}
.Working-Process1-down{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 1115px;
}
.Working-Process2{
   width: 1235px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F3F3F3;
  border-radius: 50px;
  line-height: 30px;
  box-shadow: 0px 5px 0px 0px black;
}
.Working-Process{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 1435px;
  height: 1225px;
  justify-content: center;
  align-items: center;
}
.Team-1-1{
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 320px;
  height: 105px;
  
}
.Team-1-3{
  width: 320px;
  height: 70px;
}
.Team-1{
  width: 390px;
  height: 315px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 50px;
  box-shadow: 0px 5px 0px 0px black;
}
.Team-up{
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.Team{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.under-team1{
  background-color: black;
  border-radius: 20px;
  width: 270px;
  height: 70px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.under-team{
  display: flex;
  justify-content: flex-end;
}
.email-l-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 30px;
  font-size: 20px;
  gap: 35px;
}
.email{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 220px;
  width: 1240px;
  height: 775px;
  background-color: #F3F3F3;
  border-radius: 50px;
  gap: 40px;
}

.email-r{
  width: 150px;
}
.email-l-3{
  width: 560px;
  height: 70px;
}
.email-l-3BUT{
   width: 560px;
  height: 70px;
  background-color: #191A23;
  border-radius: 20px;
  color: white;
  font-size: 20px;
}
.email-l-2P{
  font-size: 20px;
}
.email-l-2INP{
  width: 560px;
  height: 60px;
  font-size: 20px;
  border-radius: 15px;
}
.email-l-2TX{
  width: 560px;
  height: 190px;
    resize: none;
    border-radius: 15px;
}
.email-l{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.email-l-1IN{
  width: 30px;
  height: 30px;
}
.end{
  width: 1245px;
  height: 515px;
  background-color: #191A23;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.end-up{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 155px;
}
.end-up-2{
  display: flex;
  flex-direction: row;
  font-size: 15px;
  color: white;
  gap: 40px;
}
.end-up-1{
  width: 180px ;
  height: 30px;
}
.end-midle1{
  display: flex;
  flex-direction: column;
  width: 335px;
  height: 185px;
}
.end-midle-H{
  background-color: #B9FF66;
  width: 130px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.end-midle-H3{
  color: white;
}
.end-midle{
  display: flex;
  flex-direction: row;
  gap: 155px;
}
.end-midle-2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #292A32;
  width: 635px;
  height: 185px;
  border-radius: 20px;
  gap: 20px;
}
.end-midle-2-E{
  color: white;
  width: 285px;
  height: 70px;
  border-radius: 20px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.end-midle-2-S{
  width: 250px;
  height: 70px;
  background-color: #B9FF66;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.end-end{
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.end-end-H3{
  color: white;
  font-size: 20px;
}